/*Style sheet for the page with extra stuff though its only for index
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 3rem;
  text-indent: 15px;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  line-height: 0;
  height: 1000px;
  color: rgba(33, 33, 33, 0.5);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
