doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(name='charset', content='utf8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    title Why SO serious?
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://cdn.rawgit.com/michalsnik/aos/2.0.4/dist/aos.css")
    link(rel="stylesheet", href="css/...././source/css/style.css",)
    // Copyright © 2016 sChneizel
    // The images hosted on this site is not mine it will be taken down if contacted.
  body.grey.darken-4
    .navbar-fixed
      nav.blue-grey.darken-4
        .nav-wrapper
          .container
            a.brand-logo.left(href="#") LOGO
            ul.hide-on-med-and-down.right
              li
                a(href="https://facebook.com") Facebook!
    .index-banner.parallax-container
      .section.no-pad-bot
        .container
          br
          br
          h1.header.left-align.red-text.text-darken-4 Why SO serious?
          .row.left-align
            h5.header.col.s12.white-text Lets have some fun!
          br
          br
      .parallax
        img.responsive-img(src='..../../img/sauske.jpg', alt="Null")
    .container
      .section
        .col.s12.m4
          p.light.grey-text.text-lighten-1(style='font-size: 25px')
            | Site for fun although its kinda boring... <strong style='font-size: 30px;color: #b71c1c' data-aos='fade-left' data-aos-duration='3000'>-__-</strong>
            br
            | Its for all <span style='font-size: 30px; color: #b71c1c;' data-aos='fade-left' data-aos-duration='4000'>:)</span>
          h3.center.grey-text.text-lighten-1  <strong style='color:#b71c1c' data-aos='fade-right'>Wait</strong>.. But is it all we provide?
    .index-banner.parallax-container
      .section.no-pad-bot
        .container
          br
          br
          h1.header.center.grey-text.text-lighten-2  Hearts Weeping... Swords Glistening..Armor Shattered
          .row.center
            h5.header.col.s12.grey-text.text-lighten-2  We try to provide good coding.. Though we're very lazy..
          .row.center
            a.btn-large.wave-effect.grey.darken-2(href="#") Something!
          br
          br
      .parallax
        img.responsive-img(src="..../../img/mikasaackerman.jpg", alt="Null")
    .container
      .section
        .col.s12.m4
          div(data-aos='fade-right' data-aos-duration='3500')
            p.light.grey-text.text-lighten-1(style='font-size: 25px')
              |"Meet me on the battle field.. I'll be your sword and shield.. And camoflage.. And you will be <span style='font-size: 30px; color: #b71c1c;' data-aos='fade-left' data-aos-duration='3000'>mine</span>"
              br
              |Something to have some interesting time on the wide range of anime for the masses mostly for free though..
    .index-banner.parallax-container
      .section.no-pad-bot
        .container
          br
          br
          h1.header.center.red-text.text-darken-4(data-aos='fade-up') FREE ME
          br
          .row.center(data-aos='fade-up' data-aos-duration='1000')
            a.btn-large.wave-effect.grey.lighten-2(href="https://kissanime.to") <span style="color: #b71c1c;">CLICK!</span>
      .parallax
        img.responsive-img(src="..../../img/redblackanimegirl.jpg", alt="null")
    footer.page-footer.blue-grey.darken-4
      .container
        .row
          .col.l6.s12
            h5.white-text Company Bio
            p.grey-text.text-lighten-4
              | Solo freelancer but aim to provide with the best of my abilities.
          .col.l3.s12
            h5.white-text Settings
            ul
              li
                a.white-text(href='#!') Link 1
              li
                a.white-text(href='#!') Link 2
              li
                a.white-text(href='#!') Link 3
              li
                a.white-text(href='#!') Link 4
          .col.l3.s12
            h5.white-text Connect
            ul
              li
                a.white-text(href='#!') Link 1
              li
                a.white-text(href='#!') Link 2
              li
                a.white-text(href='#!') Link 3
              li
                a.white-text(href='#!') Link 4
      .footer-copyright
        .container
          | Made by
          a.red-text.text-darken-4(href='#') Shuvo
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js')
    script(src='https://cdn.rawgit.com/michalsnik/aos/2.0.4/dist/aos.js')
    script(src="..../../js/init.js")
